<form>
  <div class="form-group">
    <label for="expected-days">見積もり日数</label>
    <input id="expected-days" class="form-control" ng-model="c.project.prjPlan.expectedDays" type="number" min="1" max="100" />
  </div>
  <div class="form-group">
    <label for="start-day">開始予定日</label>
    <span class="form-controller">{{c.dt | date:'yyyy-MM-dd (EEE)'}}</span>
    <div uib-datepicker ng-model="c.project.prjPlan.startDate" class="well well-sm" datepicker-options="c.datePickerOptions"></div>
    <!--
    <div id="start-day" style="display:inline-block; min-height:290px;">
    </div>
    -->
  </div>
  <div class="form-group">
    <label for="worker">担当者</label>
    <div>
      <ui-select ng-model="c.selected" theme="bootstrap" on-select="c.workerSelected($item, $model)" style="min-width: 300px;" title="担当者の選択">
        <ui-select-match placeholder="担当者を選択してください">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="person.userId as person in c.people | propsFilter: {name: $select.search, email: $select.search}">
          <div ng-bind-html="person.name | highlight: $select.search"></div>
          <small>
            email: {{person.email}}
          </small>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</form>
