<h1>新規プロジェクト</h1>
<form ng-submit="c.ok()">
  <div class="form-group">
    <label class="sr-only" for="prj-name">プロジェクト名</label>
    <input id="prj-name" class="form-control" type="text" ng-model="c.project.name" placeholder="プロジェクト名" required/>
  </div>
  <div class="form-group">
    <label class="sr-only" for="prj-company">顧客</label>
    <input
      id="prj-company" class="form-control" type="text" ng-model="c.selectedComp"
      uib-typeahead="comp as comp.name for comp in c.getCompList($viewValue) | limitTo:10"
      typeahead-min-length="0"
      typeahead-loading="compLoading"
      typeahead-editable="false"
      placeholder="顧客"
      required/>
    <i ng-show="compLoading" class="glyphicon glyphicon-refresh"></i>
  </div>
  <div class="form-group">
    <label for="prj-desc">説明</label>
    <textarea id="prj-desc" class="form-control" rows="3" ng-model="c.project.description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">登録</button>
  <button type="button" class="btn btn-default" ng-click="c.cancel()">キャンセル</button>
</form>
<pre>{{c.project|json}}</pre>
<pre>{{c.selectedComp|json}}</pre>